@model IEnumerable<Shop.Library.Model.Product>

<h2>Products</h2>

<script type="text/javascript">
    $(document).ready(function () {
        $(".delete-product").on('click', function (e) {
            e.preventDefault();
            var url = '@Url.Action("Delete", "Products")';
            var elem = $(this);
            var productId = $(this).attr("product-id");
            $.post(url, { id: productId })
                .done(function (response) {
                    if (response.Success) {
                        elem.closest('tr').remove();
                    } else {
                        alert("error while trying to delete record");
                    }
                }).fail(function (response) {
                    alert("error while trying to delete record");
                });
        });
    });
</script>

<p>
    <button type="button"
            class="btn btn-default btn-sm btn-success"
            onclick="location.href='@Url.Action("New", "Products")'">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New product
    </button>
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CategoryId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Make)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Supplier)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Make)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Supplier)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <button class="btn btn-xs" onclick="location.href='@Url.Action("Edit", "Products", new { id = item.Id })'">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>

                <button class="btn btn-xs btn-danger delete-product" product-id="@item.Id">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </td>
        </tr>
    }

</table>

@*<p>
    @Html.ActionLink("Add new", "New", "Products")
</p>*@
