@model IEnumerable<Shop.Library.Model.Product>

<h2>All prodcuts</h2>


<script type="text/javascript">
    $(document).ready(function () {
        $(".delete-product").bind("click", function (e) {
            e.preventDefault();
            var productId = $(this).attr("product-id");
            var elem = $(this);

            $('#confirm').modal({
                backdrop: 'static',
                keyboard: false
            }).on('click', '#delete', function (e) {
                deleteProduct(elem, productId);
            });

            $("#cancel").on('click', function (e) {
                e.preventDefault();
                $('#confirm').modal.model('hide');
            });
        });
    });

    function deleteProduct(elem, id) {
        var url = '@Url.Action("Delete", "Products")';
        $.post(url, { id: id })
            .done(function (response) {
                if (response.Success) {
                    elem.closest('tr').remove();
                } else {
                    alert("error while trying to delete record");
                }
            }).fail(function (response) {
                alert("error while trying to delete record");
            });
    }
</script>

<div id="confirm" class="modal" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <p>Delete this record?</p>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-primary" id="delete">Delete</button>
                <button type="button" data-dismiss="modal" class="btn">Cancel</button>
            </div>
        </div>
    </div>
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CategoryId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Make)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Supplier)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Make)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Supplier)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                <button class="btn btn-xs pull-right btn-danger delete-product" product-id="@item.Id">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </td>
        </tr>
    }

</table>

<p>
    @Html.ActionLink("Add new", "New", "Products")
</p>
